{% extends 'page.html' %}

{% block content %}
  {% parent %}
  <div>
    <h1>A Front-End Engineer with a specialization in React.js &amp; Flux architecture.</h1>
		<p>I'd call my combination of conceptual and user interface skills <em>plug &amp; play</em>. You get code that developers can easily plug into and products that end users can actually play with.</p>
    <p>In the past I've helped teams build an e-commerce site, home buyers find their ideal neighbourhood, scientists visualize their data sets or setup a custom PaaS on a machine aptly called "the ukraine"&hellip;</p>
    <p>Being pragmatic about both the end user experience and the programmer codebase <em>experience</em>, I usually work closely with the product owner, the design team and dev team lead on the system at hand. A place that I'd be proud to be a part of? Any environment with decisive visionaries where creativity &amp; autonomy is encouraged.</p>
    <p>Radek</p>
  </div>
{% endblock content %}
