{% extends 'layout.html' %}

{% block content %}
  <h3>{{ title }}</h3>
  <h4>{{ subtitle }}</h4>

  {% parent %}

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Height</th>
        <th>Location</th>
      </tr>
    </thead>
    <tbody>
      {% for person in rel.children('/people') %}
        <tr>
          <td><a href="{{ person.url }}">{{ person.title }}</a></td>
          <td>{{ person.age }}</td>
          <td>{{ person.height }}</td>
          <td>{{ person.location }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock content %}
