@import url("http://fonts.googleapis.com/css?family=Lato:400,700");
h1,
h2,
h3,
h4,
p {
  margin: 0;
}
code {
  font-weight: 400;
  background: inherit;
  font-size: 13px;
}
header#top {
  color: #fff;
  border-top: 3px solid #4c7370;
  background: #639793;
  background: -moz-linear-gradient(top, #639793 0%, #577d7a 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #639793), color-stop(100%, #577d7a));
  background: -webkit-linear-gradient(top, #639793 0%, #577d7a 100%);
  background: -o-linear-gradient(top, #639793 0%, #577d7a 100%);
  background: -ms-linear-gradient(top, #639793 0%, #577d7a 100%);
  background: linear-gradient(to bottom, #639793 0%, #577d7a 100%);
}
header#top h1,
header#top h2 {
  margin: 20px 0;
}
header#top h1 {
  font-family: "Lato";
  font-weight: 800;
  font-size: 23px;
  text-transform: uppercase;
  float: left;
  letter-spacing: 1px;
  margin-right: 6px;
}
header#top h2 {
  font-family: "Georgia";
  font-weight: 200;
  font-size: 24px;
}
header#top h2 a {
  color: #fff;
}
header#top h2:before {
  content: "|";
  display: inline-block;
  font-weight: 800;
  margin-right: 6px;
}
header#top nav {
  background: #334d4b;
  position: relative;
}
header#top nav ul {
  list-style-type: none;
  margin: 0 0 0 10px;
}
header#top nav ul li {
  display: inline-block;
  font-family: "Lato";
  font-size: 16px;
}
header#top nav ul li:not(:last-child):after {
  content: "|";
  display: inline-block;
  color: #395b69;
}
header#top nav ul li.active {
  font-weight: 800;
}
header#top nav ul li a {
  color: #fff;
  display: inline-block;
  padding: 9px 22px;
}
header#top nav ul li a.people {
  background: url("../img/mini-flags.png") no-repeat 86px 11px;
  padding-right: 68px;
}
header#top nav a.contact {
  font-family: "Lato";
  font-size: 14px;
  font-weight: 800;
  color: #fff;
  background: #192625;
  text-transform: uppercase;
  position: absolute;
  top: 9px;
  right: 9px;
  padding: 6px 14px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
#splash {
  margin: 20px 0 0 0;
  color: #fff;
  padding: 13px;
  font-family: "Lato";
  position: relative;
  -webkit-box-shadow: 0 0 3px 3px rgba(0,0,0,0.05);
  -moz-box-shadow: 0 0 3px 3px rgba(0,0,0,0.05);
  box-shadow: 0 0 3px 3px rgba(0,0,0,0.05);
}
#splash h1,
#splash h2 {
  font-weight: 400;
  position: absolute;
  left: 45px;
}
#splash h1 {
  font-size: 26px;
  letter-spacing: -1px;
  top: 38px;
}
#splash h2 {
  font-size: 16px;
  top: 69px;
}
#splash.dark h1,
#splash.dark h2 {
  color: #334d4b;
}
aside.sidebar {
  margin-top: 20px;
  margin-bottom: 30px;
}
aside.sidebar h2 {
  font-family: "Lato";
  color: #fff;
  font-weight: 400;
  font-size: 18px;
}
aside.sidebar h2:not(.link) {
  padding: 12px 10px;
}
aside.sidebar h2.bismark {
  background: #407083;
}
aside.sidebar h2.patina {
  background: #659995;
}
aside.sidebar h2 a {
  color: #fff;
  padding: 12px 10px;
  display: block;
}
aside.sidebar ul {
  list-style-type: none;
  margin: 10px 10px 30px 10px;
}
aside.sidebar ul li:not(:first-child):before {
  content: " ";
  display: block;
  width: 150px;
  border-bottom: 1px solid #ccc;
  margin: 10px 0 12px 0;
}
aside.sidebar ul li h3 {
  color: #407083;
  font-size: 12px;
}
aside.sidebar ul li h3 a {
  color: #407083;
  text-decoration: underline;
  line-height: 20px;
}
aside.sidebar ul p {
  font-style: normal;
  font-size: 12px;
  color: #7c7c7c;
  line-height: 20px;
}
article.main {
  margin-top: 20px;
  margin-bottom: 30px;
}
article.main h1 {
  font-family: "Lato";
  color: #345b6a;
  font-weight: 400;
  font-size: 24px;
  margin: 8px 0 18px 0;
}
article.main h2 {
  font-family: "Lato";
  font-size: 20px;
  font-weight: 400;
  margin: 8px 0 18px 0;
}
article.main h3 {
  color: #656565;
  font-weight: 400;
  font-size: 18px;
}
article.main h4 {
  color: #656565;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 10px;
}
article.main img {
  float: left;
  margin: 0 25px 10px 0;
}
article.main p {
  color: #656565;
  font-size: 13px;
  line-height: 23px;
  margin: 10px 0;
}
article.main a {
  color: #659995;
  text-decoration: underline;
}
article.main li {
  color: #656565;
  font-size: 13px;
}
article.main ul {
  list-style-type: none;
}
article.main table {
  border: none;
}
article.main table td {
  vertical-align: middle;
}
article.main table td a {
  color: #659995;
  text-decoration: underline;
}
article.main table td span.author {
  white-space: nowrap;
}
article.main table td span.author:not(:last-child):after {
  content: ", ";
  display: "block";
}
article.callout {
  margin-top: 20px;
  margin-bottom: 30px;
}
article.callout h1 {
  font-family: "Lato";
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  padding: 12px 10px;
}
article.callout h2,
article.callout h3 {
  font-size: 12px;
  font-weight: 800;
  line-height: 18px;
}
article.callout h3 {
  font-weight: 400;
}
article.callout h4 {
  color: #7c7c7c;
  font-weight: 400;
  font-size: 13px;
  padding: 5px 10px;
}
article.callout a {
  color: #7d4166;
  text-decoration: underline;
}
article.callout ul {
  list-style-type: none;
  margin: 10px;
}
article.callout ul.scrollbar {
  overflow-y: auto;
  overflow-x: hidden;
  height: 200px;
  margin-right: 0;
}
article.callout ul.scrollbar li {
  margin-right: 5px;
}
article.callout ul li:not(:first-child):before {
  content: " ";
  display: block;
  width: 150px;
  border-bottom: 1px solid #ccc;
  margin: 10px 0 12px 0;
}
article.callout ul p {
  font-size: 12px;
  color: #7c7c7c;
  line-height: 20px;
  margin-top: 6px;
}
article.callout.rouge h1 {
  background: #9f3e7a;
}
article.callout.rouge h2,
article.callout.rouge h3,
article.callout.rouge a {
  color: #9f5e86;
}
article.callout.bismark h1 {
  background: #407083;
}
article.callout.bismark h2,
article.callout.bismark h3,
article.callout.bismark a {
  color: #345b6a;
}
article.callout.patina h1 {
  background: #659995;
}
article.callout.patina h2,
article.callout.patina h3,
article.callout.patina a {
  color: #659995;
}
article.callout.shakespeare h1 {
  background: #5fb1d2;
}
article.callout.shakespeare h2,
article.callout.shakespeare h3,
article.callout.shakespeare a {
  color: #5fb1d2;
}
#news h1 {
  background-image: url("../img/birdie.png");
  background-repeat: no-repeat;
  background-position: 11px 8px;
  padding-left: 62px;
}
#news h2 {
  float: left;
  margin-right: 6px;
}
#news p {
  line-height: 18px;
}
footer p {
  margin: 10px 0 30px 0;
  text-align: center;
  color: #7c7c7c;
  font-size: 12px;
}
footer ul {
  text-align: center;
  list-style-type: none;
  margin-top: 10px;
}
footer ul li {
  display: inline-block;
  margin: 0 14px;
}
footer ul li a {
  height: 51px;
  display: block;
}
footer ul li a img {
  vertical-align: middle;
}
div.row.rouge h1 {
  color: #9f5e86;
}
div.row.rouge a {
  color: #9f5e86;
}
div.row.rouge aside.sidebar h2 {
  background: #9f3e7a;
}
div.row.rouge aside.sidebar h2.secondary {
  background: #ae7297;
}
div.row.rouge aside.sidebar h2 a {
  color: #fff;
}
div.row.patina h1 {
  color: #659995;
}
div.row.patina a {
  color: #659995;
}
div.row.patina aside.sidebar h2 {
  background: #659995;
}
div.row.bismark a {
  color: #345b6a;
}
div.row.bismark aside.sidebar h2 {
  color: #fff;
  background: #407083;
}
div.row.bismark aside.sidebar h2 a {
  color: #fff;
}
div.row.bismark aside.sidebar h3 {
  color: #345b6a;
}
div.row.shakespeare h1,
div.row.shakespeare h2 {
  color: #5fb1d2;
}
div.row.shakespeare a {
  color: #5fb1d2;
}
div.row.shakespeare aside.sidebar h2 {
  color: #fff;
  background: #5fb1d2;
}
div.row.shakespeare aside.sidebar h2.secondary {
  background: #87b4c7;
}
div.row.shakespeare aside.sidebar h2 a {
  color: #fff;
}
.article {
  margin-bottom: 20px;
}
.article h2,
.article h4 {
  display: inline-block;
}
.article h4 {
  margin-left: 5px;
}
iframe.map {
  margin-top: 20px;
}
