@import url(http://fonts.googleapis.com/css?family=Lato:400,700)


gradient(a, b)
    background: a
    background: -moz-linear-gradient(top, a 0%, b 100%)
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,a), color-stop(100%,b))
    background: -webkit-linear-gradient(top, a 0%, b 100%)
    background: -o-linear-gradient(top, a 0%, b 100%)
    background: -ms-linear-gradient(top, a 0%, b 100%)
    background: linear-gradient(to bottom, a 0%, b 100%)

corners(a)
    -webkit-border-radius: a;
    -moz-border-radius: a;
    border-radius: a;

shadow(a, b)
    -webkit-box-shadow: a b;
    -moz-box-shadow: a b;
    box-shadow: a b;


h1, h2, h3, h4, p
    margin: 0

code
    font-weight: 400
    background: inherit
    font-size: 13px

header#top
    color: #FFF
    border-top: 3px solid #4c7370
    gradient #639793, #577d7a

    h1, h2
        margin: 20px 0

    h1
        font-family: "Lato"
        font-weight: 800
        font-size: 23px
        text-transform: uppercase
        float: left
        letter-spacing: 1px
        margin-right: 6px

    h2
        font-family: "Georgia"
        font-weight: 200
        font-size: 24px

        a
            color: #FFF

        &:before
            content: "|"
            display: inline-block
            font-weight: 800
            margin-right: 6px

        span
            //font-style: italic
            //margin-right: 2px

    nav
        background: #334d4b
        position: relative

        ul
            list-style-type: none
            margin: 0 0 0 10px

            li
                display: inline-block
                font-family: "Lato"
                font-size: 16px

                &:not(:last-child):after
                    content: "|"
                    display: inline-block
                    color: #395b69

                &.active
                    font-weight: 800

                a
                    color: #FFF
                    display: inline-block
                    padding: 9px 22px

                    &.people
                        background: url('../img/mini-flags.png') no-repeat 86px 11px
                        padding-right: 68px

        a.contact
            font-family: "Lato"
            font-size: 14px
            font-weight: 800
            color: #FFF
            background: #192625
            text-transform: uppercase
            position: absolute
            top: 9px
            right: 9px
            padding: 6px 14px
            corners 3px

#splash
    margin: 20px 0 0 0
    color: #FFF
    padding: 13px
    font-family: "Lato"
    position: relative
    shadow 0 0 3px 3px, rgba(0,0,0,.05)

    h1, h2
        font-weight: 400
        position: absolute
        left: 45px

    h1
        font-size: 26px
        letter-spacing: -1px
        top: 38px

    h2
        font-size: 16px
        top: 69px

    &.dark
        h1, h2
            color: #334d4b

aside.sidebar
    margin-top: 20px
    margin-bottom: 30px

    h2
        font-family: "Lato"
        color: #FFF
        font-weight: 400
        font-size: 18px
        
        &:not(.link)
            padding: 12px 10px

        &.bismark
            background: #407083
        
        &.patina
            background: #659995

        a
            color: #FFF
            padding: 12px 10px
            display: block

    ul
        list-style-type: none
        margin: 10px 10px 30px 10px

        li
            &:not(:first-child):before
                content: " "
                display: block
                width: 150px
                border-bottom: 1px solid #ccc
                margin: 10px 0 12px 0

            h3
                color: #407083
                font-size: 12px

                a
                    color: #407083
                    text-decoration: underline
                    line-height: 20px

        p
            font-style: normal
            font-size: 12px
            color: #7c7c7c
            line-height: 20px

article.main
    margin-top: 20px
    margin-bottom: 30px

    h1
        font-family: "Lato"
        color: #345b6a
        font-weight: 400
        font-size: 24px
        margin: 8px 0 18px 0

    h2
        font-family: "Lato"
        font-size: 20px
        font-weight: 400
        margin: 8px 0 18px 0

    h3
        color: #656565
        font-weight: 400
        font-size: 18px

    h4
        color: #656565
        font-weight: 400
        font-size: 16px
        line-height: 26px
        margin-bottom: 10px

    img
        float: left
        margin: 0 25px 10px 0

    p
        color: #656565
        font-size: 13px
        line-height: 23px
        margin: 10px 0

    a
        color: #659995
        text-decoration: underline

    li
        color: #656565
        font-size: 13px

    ul
        list-style-type: none

    table
        border: none

        td
            vertical-align: middle

            a
                color: #659995
                text-decoration: underline

            span.author
                white-space: nowrap

                &:not(:last-child):after
                    content: ", "
                    display: "block"

article.callout
    margin-top: 20px
    margin-bottom: 30px

    h1
        font-family: "Lato"
        color: #FFF
        font-weight: 400
        font-size: 18px
        padding: 12px 10px

    h2, h3
        font-size: 12px
        font-weight: 800
        line-height: 18px

    h3
        font-weight: 400

    h4
        color: #7c7c7c
        font-weight: 400
        font-size: 13px
        padding: 5px 10px

    a
        color: #7d4166
        text-decoration: underline

    ul
        list-style-type: none
        margin: 10px

        &.scrollbar
            overflow-y: auto
            overflow-x: hidden
            height: 200px
            margin-right: 0

            li
                margin-right: 5px

        li
            &:not(:first-child):before
                content: " "
                display: block
                width: 150px
                border-bottom: 1px solid #ccc
                margin: 10px 0 12px 0

        p
            font-size: 12px
            color: #7c7c7c
            line-height: 20px
            margin-top: 6px

    &.rouge
        h1
            background: #9f3e7a
        
        h2, h3, a
            color: #9F5e86

    &.bismark
        h1
            background: #407083
        
        h2, h3, a
            color: #345b6a

    &.patina
        h1
            background: #659995
        
        h2, h3, a
            color: #659995

    &.shakespeare
        h1
            background: #5fb1d2
        
        h2, h3, a
            color: #5fb1d2

#news
    h1
        background-image: url('../img/birdie.png')
        background-repeat: no-repeat
        background-position: 11px 8px
        padding-left: 62px

    h2
        float: left
        margin-right: 6px
    
    p
        line-height: 18px

footer
    p
        margin: 10px 0 30px 0
        text-align:center
        color: #7c7c7c
        font-size: 12px

    ul
        text-align: center
        list-style-type: none
        margin-top: 10px

        li
            display: inline-block
            margin: 0 14px

            a
                height: 51px
                display: block

                img
                    vertical-align: middle

div.row
    &.rouge
        h1
            color: #9F5e86

        a
            color: #9F5e86

        aside.sidebar
            h2
                background: #9F3E7A

                &.secondary
                    background: #AE7297

                a
                    color: #FFF

    &.patina
        h1
            color: #659995

        a
            color: #659995

        aside.sidebar
            h2
                background: #659995

    &.bismark
        a
            color: #345b6a

        aside.sidebar
            h2
                color: #FFF
                background: #407083

                a
                    color: #FFF

            h3
                color: #345b6a

    &.shakespeare
        h1, h2
            color: #5fb1d2
        
        a
            color: #5fb1d2

        aside.sidebar
            h2
                color: #FFF
                background: #5fb1d2

                &.secondary
                    background: #87B4C7

                a
                    color: #FFF

.article
    h2, h4
        display: inline-block

    h4
        margin-left: 5px

    margin-bottom: 20px

iframe.map
    margin-top: 20px